body {
    background-repeat: no-repeat;
    background-position: center;
    margin: 100x;
    padding: 80px 80px;
    background-size:cover;
    text-align: center;
}
header {
    display: grid;
    grid-template-columns: 150px auto;
}

nav {
    display: flex;
    justify-content: space-around;
}
a {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
footer {
    background-color: #98cfdd;
    padding: 25px 50px;
    margin-top: 30spx; 
    display: flex;
    justify-content: space-around;
    align-items: center;
}